

.about-card{
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color:#eee7fe;
    width:300px;
    overflow:hidden;
    box-shadow: 0px 0px 3px 3px;
    border-radius: 15px;
   
    
}

.about-card:hover{
    transform:scale(1.1);
    box-shadow: 0px 0px 5px px;
}

.about-card-body{
    text-align: center;
    font-weight: bold;
    display: flex;
    padding: 10px;
}

.about-image img{
    margin:45px;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 200px;
    border-radius: 10px;
}

.about-card-content{
    margin:1rem;
    margin-top: 1rem;
    text-align: center;
}

.h3,p{
    margin:0px;
    padding:0px;
}

.about-card-title{
    margin-bottom: 0.5rem;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    padding: 0.5rem;
    background-color:#e4d8fd;
    border:none;
    transition:0.2s;
    margin:0.5rem;
}

a{
    text-transform: uppercase;
    color:#e4d8fd;
    text-decoration: none;
    font-weight: bold;
    padding-left: 5px;
    padding-right:5PX ;
    padding-top:5PX ;
    padding-bottom: 5PX;
}

.icon-git{
    height:50px;
    width:50px;
    border-radius:50px;
}

.conatiner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 7PX;
  }