.footer{
     background-color: #e4d8fd;
     margin: auto;
    }

    .sb_footer-below{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin: 0.2rem;
        }
     
        .dev-link:hover{
               color: rgb(218, 203, 188) !important;
               transition: ease-in .10s !important;
        }

     