.footer {
  background-color: #e4d8fd;
  margin: auto;
}

.sb_footer-below {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.2rem;
}

.dev-link{
     font-weight: 500;
     font-size: medium;
}
.dev-link:hover {
  color: rgb(43, 88, 247) !important;
  transition: ease-in 0.3s !important;
}
