.signup-container{
    background-color: #e4d8fd;
}

.img{
   height: 100vh;
   width: 50vw;
   object-fit: cover;
}

.signup-container{
    margin-top: 30px;
}

.signup-btn{
    background-color:#cc66ff;
}
.signup-btn:hover{
    background-color: #c452fd;
}

.pass{
    text-decoration: none;
    color: black;
}

.fl-input{
    width: 182px;
    height: 40px;
    border-radius: 7px;
}

.up-input{
    width: 440px;
    height: 40px;
    border-radius: 7px;
}

