.main-container{
    background-color: #e4d8fd;
}

.img{
    height: 610px;
    width: 600px;
}

.signup-container{
    margin-top: 30px;
}

#signup-btn{
    width: 440px;
    background-color:#cc66ff;
}

.fl-input{
    width: 207px;
    height: 40px;
    border-radius: 7px;
}

.up-input{
    width: 440px;
    height: 40px;
    border-radius: 7px;
}