.signup-container{
    background-color: #f9f9fa;
}

.img{
   height: 100vh;
   width: 50vw;
   object-fit: cover;
}

.signup-btn{
    background-color:#c452fd;
}
.signup-btn:hover{
    background-color: #c452fd;
}

.pass{
    text-decoration: none;
    color: black;
}

