:root{
    --quiz-section-img-shadow:#e6d8fd;
    --html-home-svg-img-shadow:#e53900;
    --js-home-svg-img-shadow:#ffd600;
    --css-home-svg-img-shadow:#0277bd;
    --bootstrap-home-svg-img-shadow:#673ab7;
    --node-home-svg-img-shadow:#21a366;
    --react-home-svg-img-shadow:#61dbfb;
    --c-home-svg-img-shadow:#3949ab;
    --python-home-svg-img-shadow:#ffd116;
    --java-home-svg-img-shadow:#1565c0;
   
}
.modify-navbar{
    background-color: #e4d8fd;
}
.app-logo{
    width: 40px;    
    border: .01rem solid #aa80ff;
}
.offcanvas-btn{
    background-color: #e4d8fd;

}
.offcanvas-btn:hover{
    background-color: #dbcafe;
    transition: ease .10s;

}
.next-btn{
    outline: none;
    border: .01rem solid #e3fbc8;
    background-color: #ebe2f9; 
}
.next-btn:hover{
    background-color: #d5f8d9; 
    transition: ease .10s;
}
.btn-option{
    border: .01rem solid #e4cafa;
    background-color: #ebe2f9;
}
.priv-btn{
    outline: none;
    border: .01rem solid #fbd2c8;
    background-color: #ebe2f9; 
}
.priv-btn:hover{
    background-color: #f8dcd5; 
    transition: ease .10s;
}
.side-Sction-Holder{
    background-color: #fff;
}
/* .App{
    background-color: #fbf6ff;
} */

.quiz-section-img {
    filter: drop-shadow(0 0 1rem var(--quiz-section-img-shadow));
    margin: auto;
  }
  .html-svg{
    filter: drop-shadow(0 0  0.2rem var(--html-home-svg-img-shadow));
  }
  .js-svg{
    filter: drop-shadow(0 0  0.2rem var(--js-home-svg-img-shadow));
  }
  .css-svg{
    filter: drop-shadow(0 0  0.2rem var(--css-home-svg-img-shadow));
  }
  .bootstrap-svg{
    filter: drop-shadow(0 0  0.2rem var(--bootstrap-home-svg-img-shadow));
  }
  .node-svg{
    filter: drop-shadow(0 0  0.2rem var(--node-home-svg-img-shadow));
  }
  .react-svg{
    filter: drop-shadow(0 0  0.2rem var(--react-home-svg-img-shadow));
  }
  .python-svg{
    filter: drop-shadow(0 0  0.2rem var(-python--home-svg-img-shadow));
  }
  .java-svg{
    filter: drop-shadow(0 0  0.2rem var(--java-home-svg-img-shadow));
  }
  .c-svg{
    filter: drop-shadow(0 0  0.2rem var(--c-home-svg-img-shadow));
  }

.que-number{
    left: 10px;
}
.question-sction{
    border: .01rem solid #e9e2fb;
    width: 80%;
}
@media ((max-width: 576px)){
    .question-sction {width: 100%;}
}
@media ((max-width: 796px)){
    .question-sction {width: 100%;}
    .quiz-info h1 {
        font-size: 14px;
    }
}




/* certification css start */
.back-color {
    background-color: #e4d8fd;
  }
  .width-in-rem{
    width: 20rem;
  }
/* certification css end */
