.modify-navbar{
    background-color: #e4d8fd;
}
.offcanvas-btn{
    background-color: #e4d8fd;

}
.offcanvas-btn:hover{
    background-color: #dbcafe;
    transition: ease .10s;

}
.nextbtn{
    outline: none;
    border: .01rem solid #d9aeff;
    background-color: #ebe2f9; 
}
.nextbtn:hover{
    background-color: #e2d5f8; 
    transition: ease .10s;
}
.btn-option{
    border: .01rem solid #e4cafa;
    background-color: #ebe2f9;
}
.side-Sction-Holder{
    background-color: #fff;
}

.App{
    background-color: #fbf6ff;
}